html{
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: black;
    /*
    background-color: hsl(200, 82%, 4%);
    */
    color: gold;
    -webkit-text-stroke: whitesmoke 0.2px;
}
#questionContainer {
    margin-top: 10px;
}
#question {
    margin-bottom: 10px;
}
#timer {
    font-size: 40px;
    margin-top: 10px;
}
#message {
    margin-top: 20px;
}
/*
#imageContainer img {
    margin-top: 15px;
    max-width: 100%;
    height: 303px;
    width: 303px;
}
*/
#imageContainer img[src=""], img:not([src]){
    opacity: 0;
}

#nameInput{
    background-color: black;
    color: antiquewhite;
}
/*
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    opacity: 25%;
    z-index: -1;
*/
#currentImage {
    margin-top: 10px;   
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 70vh;
    object-fit: fill;

}
#Matrix {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.bouncingImage {
    position: absolute;
    border: dotted 15px yellow;
    border-radius: 35%;
    width: auto; /* Set the initial width of the image */
    height: auto; /* Set the initial height of the image */
}